body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #503E64;
    margin: 0 auto; 
    /*padding: 0 40px;*/
   /* text-align: right;*/
}


h1 {
    background-image: url('images/crescentmoon.png');
    font-size: 3em;
    background-repeat: no-repeat; 
    background-size: 40px; 
    padding-left: 55px; 
    margin: 100px 0 25px 0; 
    letter-spacing: -2px;
}

