body {
    font-family: sans-serif;
    color: #EAE8FF;
    background: #1F2544;
    margin: 0 auto; 
    /*padding: 0 40px;*/
   /* text-align: right;*/
}


h1 {
    background-image: url('/images/crescentmoon.png');
    font-size: 60px; 
    background-repeat: no-repeat; 
    background-size: 60px; 
    padding-left: 55px; 
    margin: 50px 0 25px 0; 
    letter-spacing: -2px;
}

table {
    width: calc(100% - 40px); 
    border-collapse: collapse;
    border-bottom: 1px solid #ddd; 
    margin-bottom: 20px;
    padding: 0 20px; 
}

td {
    padding: 10px;
    border: 1px solid #ddd;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

